# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_one = "../output_data/weather.csv"
weather_one_df = pd.read_csv(weather_one)
weather_one_df.head()

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
0,3421719,Narsaq,GL,60.9167,-46.0500,37.40,65,90,12.66
1,3443061,Chui,UY,-33.6971,-53.4616,66.47,89,55,6.89
2,2035601,Mergen,CN,49.1833,125.2167,13.14,73,100,22.03
3,1282898,Pokhara,NP,28.2333,83.9833,63.37,32,23,5.50
4,3369157,Cape Town,ZA,-33.9258,18.4232,64.09,77,0,18.41

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Store latitude and longitude in locations
lat_lon = weather_one_df[['Lat', 'Lng']]

# Fill NaN values and convert to float
humid = weather_one_df["Humidity"]
lat_lon.head()

       Lat       Lng
0  60.9167  -46.0500
1 -33.6971  -53.4616
2  49.1833  125.2167
3  28.2333   83.9833
4 -33.9258   18.4232

In [5]:
# Plot Heatmap
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

# Use the gmaps.figure passing a zoom_level of 2 and a center point so the map displays properly at
# a readable size
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))
# Create heat layer
heat_layer = gmaps.heatmap_layer(lat_lon, weights=humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)

# Add heat layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
# Create criteria for the perfect vacation climate
# A max temperature lower than 80 degrees but higher than 70.
crit_temperature = (weather_one_df.Temperature < 80) & (weather_one_df.Temperature > 70)
crit_Clouds = weather_one_df.Clouds == 0
final_criteria = crit_temperature & crit_Clouds 

# Use boolean indexing to filter the weather_df dataframe
ideal_weather_df = weather_one_df[final_criteria]
ideal_weather_df = ideal_weather_df.dropna()
ideal_weather_df = ideal_weather_df.reset_index()
ideal_weather_df.head(10)

,index,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
0,64,1067565,Beloha,MG,-25.1667,45.0500,74.07,78,0,9.06
1,73,1272892,Dhār,IN,22.6000,75.3000,71.49,21,0,7.78
2,94,935215,Saint-Philippe,RE,-21.3585,55.7679,74.82,73,0,6.91
3,147,3571913,Marsh Harbour,BS,26.5412,-77.0636,72.97,61,0,12.17
4,165,3430863,Mar del Plata,AR,-38.0023,-57.5575,71.91,73,0,6.91
5,186,1174451,Keti Bandar,PK,24.1447,67.4497,74.57,80,0,15.19
6,202,2458334,Douentza,ML,14.9951,-2.9517,73.60,18,0,4.79
7,217,286621,Salalah,OM,17.0151,54.0924,73.40,40,0,5.75
8,250,287286,Muscat,OM,23.6139,58.5922,75.20,88,0,2.30
9,272,2455290,Kidal,ML,18.4411,1.4078,74.86,16,0,5.39

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
hotel_df = ideal_weather_df
hotel_df['Hotel Name'] = ""
hotel_df.head()

,index,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed,Hotel Name
0,64,1067565,Beloha,MG,-25.1667,45.0500,74.07,78,0,9.06,
1,73,1272892,Dhār,IN,22.6000,75.3000,71.49,21,0,7.78,
2,94,935215,Saint-Philippe,RE,-21.3585,55.7679,74.82,73,0,6.91,
3,147,3571913,Marsh Harbour,BS,26.5412,-77.0636,72.97,61,0,12.17,
4,165,3430863,Mar del Plata,AR,-38.0023,-57.5575,71.91,73,0,6.91,

In [16]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "Hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from hotel_df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
    #print(name_address.url)

    # convert to json
    name_address = name_address.json()
    #print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        #hotel_df.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
        #hotel_df.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df.info()

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        23 non-null     int64
 1   City ID      23 non-null     int64
 2   City         23 non-null     object
 3   Country      23 non-null     object
 4   Lat          23 non-null     float64
 5   Lng          23 non-null     float64
 6   Temperature  23 non-null     float64
 7   Humidity     23 non-null     int64
 8   Clouds       23 non-null     int64
 9   Wind Speed   23 non-null     float64
 10  Hotel Name   23 non-null     object
dtypes: float64(4), int64(4), object(3)
memory usage: 2.1+ KB

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [19]:
# Add marker layer ontop of heat map
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]
)


# Add layer
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…